# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environments
.venv/
.env
.envrc

# Data & Outputs
data/raw/
output/logs/
output/mlflow/
output/models/
output/predictions/
output/figures/

# Jupyter
.ipynb_checkpoints/

# Others
*.bak
*.tmp